body{
    /* display: flex;
    flex-direction: row; */
    background: rgb(206, 179, 255);
    background: linear-gradient(
      90deg,
      rgba(206, 179, 255, 1) 0%,
      rgba(251, 244, 255, 1) 92%,
      rgba(248, 244, 255, 1) 100%
    );
    height: 100vh;
  
}
.error{
    color: red;
}
























/* 

.forgotText{
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
    font-weight: 600;
    font-size: 32px;
    color: #000;
}
.forgotBox{
    position: relative;
    height: 0px ;
}
.orangeBackground{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #FFA756;
    padding-left: -4rem;
    padding-top: 1.5rem;
}
.forgotFormBox{
    background-color: #fff;
    border-radius: 15px;
    width: 70%;
    padding:10px ;
    position: relative;
    z-index: 0;
    bottom: 100px;
    left: 10%;
    padding-bottom: 25px;
}
.blueBackground{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #55E2E9;
    position: relative;
    left: 70%;
    bottom: 200px;
    z-index: -1;
}
.submit{
    display: flex;
    justify-content: center;
    background-color: #FFA756;
    color:#fff;
    font-size: 18px;
    padding: 12px;
    width: 90%;
    margin-top: 2rem;
    border-radius: 20px;
    margin-left: 1.2rem;
    cursor: pointer;
}
.error{
    color: red;
}
 */

