 *{
  margin: 0;
  box-sizing: border-box;
}
.loginScreen{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
}
.greeting{
  position: relative;
  left: 20%;
  border: 1px solid red;
  width: 35em;
  
}
.card{
  background-color: #0000001e;
  width: 30em;
  height: 40em;
  position: relative;
  border-radius: 1em;
  box-shadow:0 0.188em 1.550em egb(156,156,156);
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-around;
}
.inputStyle{
  border: none;
  background-color: rgb(239, 247, 255);
  height: 4em;
  width: 22em;
  border-radius: 0.25em;
  text-align: center;
  padding: 2em;
  
}
.lineContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25em;
}
.signInBtn {
  height: 4em;
  width: 22em;
  border: none;
  border-width: 1px 1px;
  border-radius: 8px;
  background-color: #7518a7;
  color: white;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.inputContainer {
  display: flex;
  flex-direction: column;
}
.loginBtnsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputLabel {
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 5px;
} 

.App-logo {
  animation: App-logo-spin infinite 20s linear;

  height: 60vmin;
  pointer-events: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animCard{
  display: flex;
  flex-direction: column;
  justify-content:center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 35em;
  height: 30em;
  background-image: url('../public/logocircle.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.logoName {
  animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.logoName {
  z-index: 100;
  color: #332d3f;
  font-size: 4rem;
  
}
.logoName {
  animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logoCaption {
  z-index: 100;
  color: #00000067;
  font-size: 1.5rem;
}
.logoCaption {
  animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
 .regBtn{
  color: #7518a7;;
 }



