
body{
    background-color: #E0B0FF;
}
.fields{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 1.5rem;
}
.field{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 1rem;
}
.labelName{
    font-size: 15px;
    color: #9ca69E;
    margin-left: 0.5rem;
}
.inputField{
    width: 95%;
    height: 40px;
    border-radius: 15px;
    background-color: bisque;
    border: 1px solid beige;
    padding: 1rem;
}
.submit{
    display: flex;
    justify-content: center;
    background-color: #FFA756;
    color:#fff;
    font-size: 18px;
    padding: 12px;
    width: 90%;
    margin-top: 2rem;
    border-radius: 20px;
    margin-left: 1.2rem;
    cursor: pointer;
}
.animated-col {
    position: relative;
    overflow: hidden;
  }
  
  .cartoon-container {
    position: relative;
    width: 70%; 
    margin: 0 auto; 
    overflow: hidden;
    padding-top: 4rem;
  }
  .forgotPassword{
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding-top: 1.5rem;
    cursor: pointer;
  }
  .signUpAccount{
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding-top: 0.4rem;
    cursor: pointer;
    padding-bottom: 1rem;
  }
  
.chill-out-text {
    display: none; 
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
  }
  .loginText{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: 32px;
    color: #000;
    font-weight: 600;
}
.loginBox{
    position: relative;
    height: 0px ;
}
.orangeBackground{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #FFA756;
    padding-left: -4rem;
    padding-top: 1.5rem;
}
.loginFormBox{
    background-color: #fff;
    border-radius: 15px;
    width: 70%;
    padding:10px ;
    position: relative;
    z-index: 0;
    bottom: 100px;
    left: 10%;
}
.blueBackground{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #55E2E9;
    position: relative;
    left: 70%;
    bottom: 200px;
    z-index: -1;
}
.cartoon-image {
    width: 400px;
    animation: cartoonAnimation 3s ease-out forwards;
  }