.meditation-menu{
    background: #fbfcfb;
}
.meditation-heading{
    display: flex;
    justify-content: center;
    font-size: 32px;
    color: #632B6c;
    margin: 1rem;
    font-weight: 600;
}
.meditation-subheading{
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #632B6c;
    font-weight: 600;
    margin: 1rem;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .medType-heading{
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #632B6c;
    margin: 0.5rem;
    font-weight: 600;
  }
  .tooltip{
    /* position: relative; */
    /* top: 20px; */
    font-size: 12px;
  }
  .search-bar{
    padding-right: 20px;
  }
  .hide{
    display: none;
  }
  .videoWidth{
    width: 100%;
  }
  .video{
    height: 68vh;
  }
  .no-match{
    width: 100%;
    height: 50%;
  }