.cards-container{
    display: flex;
    /* flex-wrap: wrap; */
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    /* justify-content: center; */
    cursor: pointer;
}
.card-box {
    margin: 15px;
    border-radius: 8px;
    /* background-color: #ffff; */
    width: 300px;
    position: relative;
    /* overflow: hidden; */
    border: 8px;
    transition: filter 0.3s ease-in-out;
  }
 .img-card-div{
    display: flex;
    justify-content: center;
    padding-left:1rem ;
 } 
 .img-width{
    width: 280px;
    height: 280px;
    border-radius: 20px;
    object-fit: cover;
 }
 .music-name{
   position: relative;
   top: 280px;
   display: flex;
   justify-content: center;
   font-size: 24px;
   color: white;
 }
 .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: right;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 8px;
  max-width: 55%;
  height:100vh;
  overflow: auto;
  position: relative;
}
.card-title{
  font-size: 24px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
}
.bees{
  display: flex;
  justify-content: end;
  margin-top: 2rem;
  /* margin-bottom: -2.6rem; */
}
.leftBee{
  width: 30px;
  transform: scaleX(-1);
  cursor: pointer;
  margin: 5px;
}
.rightBee{
  width: 30px;
  cursor: pointer;
  margin: 5px;
}
.featuresBox{
  display: flex;
  overflow-x: hidden;
}
.songs-list{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
}
.audio{
  margin: 0.6rem;
    width: 70%;
}
.songs-container {
  height: 50vh; 
  overflow-y: auto;
}
.audio-wrapper {
  height: 30px;
  margin-bottom: 2rem;
}

.timer-dropdown {
  margin: 2rem;
}

label {
  font-size: 16px;
  color: #555;
}
select{
  margin-left: 1rem;
  border-radius: 5px;
}