
@media only screen and (max-width: 960px){

.signUpScreen {
    display: flex;
    flex-direction: column-reverse;
}}

.signUpScreen{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items:center;
  flex-wrap: wrap;
}
.error-message{
  color: #EF4040;
}

.signUpCard{
  margin-left: 15%;
    margin-right: 15%;
    margin-top: 3.7%;
    margin-bottom: 3.7%;
  /* background:linear-gradient(135deg,rgba(225,225,225,0.1),rgba(225,225,225,0)); */
  background-color: white;
  padding: 35px;
  border: none;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.inputContainer{
  display: flex;
  flex-direction: column;
  height: 5em;
  /* border: 1px solid red; */
}
.inputLabel {
  font-size: 15px;
  color: #000000;
  margin-bottom: 5px;
}
.InputStyle{
  border: none;
  background-color: rgb(255, 255, 255);
  height: 4em;
  width: 22em;
  border-radius: 0.25em;
  text-align: center;
  padding: 2em;
}
.checkboxSignup {
  align-self: flex-start;
  cursor: pointer;
  margin-right: 1em;
  width: 20px;
  height: 20px;
}
.lineContainerSignup {
  display: flex;
  flex-direction: row;
} 
.signInBtn {
  height: 4em;
  /* width: 22em; */
  border: none;
  border-radius: 8px;
  background-color: #7518a7;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
  .signUpContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

.titleBox{
  /* border: 1px solid red; */
  text-align: center;
  height: 100px;
}
.inputsBox{
  /* border: 1px solid red; */
  height: auto;
}
.btnBox{
  /* border: 1px solid red; */
  /* margin-top: 2rem; */
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
}
.backToLoginBtn{
  height: 20px;
}


.titleAnim {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  color: rgb(0, 0, 0);
}
.signupRegHere{
  cursor: pointer;
}

@media only screen and (max-width:960px){
  .signUpScreen{
    display: flex;
    flex-direction: column-reverse;
  }
  .signUpContainer{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .titleAnim {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}



